{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Tab Logo -->
    <link rel="icon" href="{% static 'img/Logos/final_logo.png' %}" type="image/gif" sizes="18x18">

    <title> Grand Hire - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer.css' %}">
    <script src="{% static 'js/customer.js' %}" type="text/javascript"></script>

    <style>
        body {
            padding-top: 300px; 
        }
    </style>
</head>

<body>
    <div id="navbar-placeholder">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="position:absolute; font-size: larger; background: rgba(0, 0, 0, 0.4) url('{% static 'img\bg\bg1.png' %}' ) center center / cover no-repeat; width: 100%; min-height: 300px;">
            <a href="\"><img class="navbar-brand" src="{% static 'img/Logos/final_logo.png' %}" height="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" style="color: #060606;"><b>Home</b></a>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'vehicle_list' %}" id="vehiclesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #060606;"><b>Vehicles</b></a>
                            <div class="dropdown-menu" aria-labelledby="vehiclesDropdown">
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'Car' %}">Car</a>
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'SUV' %}">SUV</a>
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'Bike' %}">Bike</a>
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'Bus' %}">Bus</a>
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'Van' %}">Van</a>
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'Three-Wheel' %}">Three-Wheel</a>
                                <a class="dropdown-item" href="{% url 'vehicle_list_by_type' 'Truck' %}">Truck</a>
                            </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="CompanyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #060606;"><b>Company</b></a>
                            <div class="dropdown-menu" aria-labelledby="CompanyDropdown">
                                <a class="dropdown-item" href="#">Suzuki</a>
                                <a class="dropdown-item" href="#">Audi</a>
                                <a class="dropdown-item" href="#">Toyota</a>
                                <a class="dropdown-item" href="#">Tata</a>
                                <a class="dropdown-item" href="#">Mercedez Benz</a>
                                <a class="dropdown-item" href="#">Yamaha</a>
                                <a class="dropdown-item" href="#">Mitsubishi</a>
                                <a class="dropdown-item" href="#">Royal Enfield</a>
                                <a class="dropdown-item" href="#">Mazda</a>
                                <a class="dropdown-item" href="#">Bajaj</a>
                                <a class="dropdown-item" href="#">Land Rover</a>
                                <a class="dropdown-item" href="#">BMW</a>
                            </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="PriceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #060606;"><b>Price Range</b></a>
                            <div class="dropdown-menu" aria-labelledby="PriceDropdown">
                                <a class="dropdown-item" href="#">Below Rs.10000</a>
                                <a class="dropdown-item" href="#">Between Rs.10000 and Rs.20000</a>
                                <a class="dropdown-item" href="#">Above Rs.20000</a>
                            </div>
                    </li>
                </ul>

                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/signin" style="color: #060606;"> <b> Sign In </b></a>
                    </li>
                </ul>
                
                <div class="ml-auto" style="position:absolute; bottom:10px; right:10px">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- Side bar -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% block pagecontent %} {% endblock pagecontent %}
            </div>
        </div>
    </div>

    <footer>
        <style>
            footer {
                background-color: rgb(131, 204, 244); /* Change the background color as needed */
                text-align: center;
                padding: 20px 0;
            }
    
            .footer-content {
                color: #333; /* Change the text color as needed */
            }
        </style>
        <div>
            <p><a href="about/" style="font-size: 24px;"><b>About Us</b></a></p>
            <p><b>Contact us:</b></p> 
            <p><i>Voice: 0112584693 / 0112748565</i></p>
            <p><i>Write us on: <a href="mailto:grandhire@gmail.com">grandhire@gmail.com</a></i></p>
            <p><i>Follow us on Facebook: <a href="https://www.facebook.com/GrandHire" target="_blank">Grand Hire</a></i></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>
